
<div class="row" id="logo"></div>

<div class="row" id="buttons">
  <div class="small-6 large-centered columns">
    <ul class="button-group even-2">
      <li class="transparent"><a href="/gtfo/explore" class="button">explore</a></li>
      <li class="transparent"><a href="#" class="button">search by city</a></li>
    </ul>
  </div>
  </div>

  <div class="footer">
    Created by <a href="https://github.com/bsterno">Brian Stern</a>,
    <a href="https://github.com/APKirstein">Drew Kirstein</a>, &&
    <a href="https://github.com/jraenorris">Jesse Norris</a>
  </div>
