<div class="row" id="logo"></div>

<div class="row" id="buttons">
  <div class="small-6 small-centered columns">
    <div class="small-6 small-centered columns center-text">
      <div class='white-border'>
        <%= link_to "Explore", parks_path, class: 'button explore', onclick: 'geoFindMe()' %>
      </div>
      <div id="out"></div>
  </div>
</div>
<div class="footer">
  <%= link_to "GTFOutside", root_path %> created by <a href="https://github.com/bsterno">Brian Stern</a>,
  <a href="https://github.com/APKirstein">Drew Kirstein</a>, &&
  <a href="https://github.com/jraenorris">Jesse Norris</a>
</div>
