body  {
  background: url(/assets/gtfo_tulips.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center top;
  overflow-x: hidden;
  color: white;
  font-family: Bandung, Arial, sans-serif;
  font-weight: 400;
}

#logo.row {
  width: 500px;
  height: 500px;
  background: url(/assets/gtfo_logo.png) no-repeat center center;
  background-size: 130%;
}

.footer {
  font-family: Bandung, Arial, sans-serif;
  font-size: 11pt;
  position: fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
}

.button-group.even-2 li button {
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer a:hover {
  color: #FE8E47;
  text-decoration: underline;
}

.button-group.even-2 li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

.button-group.even-2 li:first-child button, .button-group.even-2 li:first-child .button,
.button-group.even-2 li:last-child button, .button-group.even-2 li:last-child .button {
  border: 3px solid #FFFFFF;
  width: 200px;
}


button, .button {
  background-color: RGBA(255, 255, 255, 0) !important;
}
